<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/index.css' />
</head>

<body>

  <h1>
    <%= title %>
      <div class="container">
  </h1>

  <% for(var i=0 ; i<messages.length ;i++){ %>
    <div class="messageBox">
      <div class="userBox">
        <b>
          <%= messages[i].user %>
        </b>
      </div>
      <div class="userDate">

        <%= messages[i].added %>

      </div>
      <div class="userMessage">
        <b>
          <%= messages[i].text %> <%= messages[i].user %>
        </b>

      </div>
    </div>
    <% } %>
      </div>

      <script>
        const addMsg = e => {
          window.location.href = '/new';
        }
      </script>
      <button onclick="addMsg(event)">Add New Message</button>
</body>

</html>